/*fuentes*/
@font-face {
    font-family: "roboto-regular";
    src: url(../fuentes/Roboto-Regular.ttf);
}
@font-face {
    font-family: "russo-regular";
    src: url(../fuentes/RussoOne-Regular.ttf);
}
* {
padding: 15px;
padding-top: 0%;}


/*barra de navegacion */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
.navbar__link{
    font-size: 37px;
    color: black;
    font-family: "russo-regular";
    text-decoration: none;
    cursor: pointer;
}
.navbar__link:hover{
    background: black;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 30px;
}
/*encabezado*/
#encabezado{
    background-image: url(../recursos/backgraund.img/backgraund-2-recortada.jpg);
    background-repeat: no-repeat;
    height: 600px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
#encabezado::before{
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-image: url(../recursos/backgraund.img/backgraund-2-recortada.jpg);
    opacity: .5;

}
.encabezado__titulo{
    font-family: "russo-regular";
    font-size: 55px;
    color: rgb(36, 137, 187);
    padding: 5px;
    position: relative;
}
.encabezado__subtitulo{
    font-family: "russo-regular";
    font-size: 20px;
    position: relative;
    justify-content: center;

}
 #inicio{
    border: 35px;
    padding: 35px;
 }
/*estilos para las tarjetas*/
.tarjetas__titulo{
    font-family: "russo-regular";
    font-size: 30px;
    color:  rgb(36, 137, 187);
    font-style: italic;
}

.tarjeta__texto{
    font-family: "roboto-regular";
    font-size: 20px;
    color: black;

}
.tarjetas__borde{
    padding: 2px;
}

/*desarrollando el articulo sobre los planes*/
.planes__titulo{
    font-family: "russo-regular";
    font-size: 30px;
    color: rgb(36, 137, 187);

}
.img-footer{
    width: 80px;
    height: 80px;
}
h3{font-family:"roboto-regular";
font-size: 20px;
text-decoration: dashed;
}
label{
    font-family:"roboto-regular" ;
    font-size: 25px;
}





