/*fuentes*/
@font-face {
    font-family: "roboto-regular";
    src: url(../fuentes/Roboto-Regular.ttf);
}
@font-face {
    font-family: "russo-regular";
    src: url(../fuentes/RussoOne-Regular.ttf);
}

/*barra de navegacion */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
a{
    font-size: 37px;
    color: black;
    font-family: "russo-regular";
    text-decoration: none;
    cursor: pointer;
}
a:hover{
    background: black;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 30px;
}
/*encabezado*/
#encabezado{
    background-image: url(../recursos/backgraund.img/backgraund-2-recortada.jpg);
    background-repeat: no-repeat;
    height: 600px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
#encabezado::before{
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-image: url(../recursos/backgraund.img/backgraund-2-recortada.jpg);
    opacity: .5;

}
.encabezado__titulo{
    font-family: "russo-regular";
    font-size: 55px;
    padding: 5px;
    position: relative;
}
.encabezado__subtitulo{
    font-family: "russo-regular";
    font-size: 20px;
    position: relative;

}

/* ordenando imagenes y textos*/
#fotos-autos{
    display: flex;
    justify-content: space-around;
}
.img{
    display: inline-block;
    border: 10px solid black;
}
h2{
    font-family: "russo-regular";
    font-size: 45px;
    padding: 2px 2px;
    border: 2px black solid;
}
#nombres-autos{
    display: flex;
    justify-content: space-evenly;
}

article{
    font-family: "roboto-regular" ;
    font-size: 20px;
    border: 2px solid black;
}
.article{
    display: flex;
    justify-content: space-around;
}
li{
    font-size: 20px;
    text-align: left;
    text-decoration: none;
}
.img-footer{
    width: 80px;
    height: 80px;
}
h3{font-family:"roboto-regular";
font-size: 20px;
text-decoration: dashed;
}
label{
    font-family:"roboto-regular" ;
    font-size: 25px;
}

