/*fuentes*/
@font-face {
    font-family: "roboto-regular";
    src: url(../fuentes/Roboto-Regular.ttf);
}
@font-face {
    font-family: "russo-regular";
    src: url(../fuentes/RussoOne-Regular.ttf);
}
* {
padding: 15px;
padding-top: 0%;}


/*barra de navegacion */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
.navbar__link{
    font-size: 37px;
    color: black;
    font-family: "russo-regular";
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer}

.navbar__link:hover{
    background: black;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 30px;
}
.dropdown{
    display: none;
}
/*encabezado*/
#encabezado{
    background-image: url(../recursos/backgraund.img/backgraund-2-recortada.jpg);
    background-repeat: no-repeat;
    height: 600px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
#encabezado::before{
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-image: url(../recursos/backgraund.img/backgraund-2-recortada.jpg);
    opacity: .5;

}
.encabezado__titulo{
    font-family: "russo-regular";
    font-size: 55px;
    color: rgb(36, 137, 187);
    padding: 5px;
    justify-content: center;
    position: relative;
}
.encabezado__subtitulo{
    font-family: "russo-regular";
    font-size: 20px;
    position: relative;
    justify-content: center;
    justify-content: center;

}
 #inicio{
    border: 35px;
    padding: 35px;
 }
/*estilos para las tarjetas*/
.tarjetas__titulo{
    font-family: "russo-regular";
    font-size: 30px;
    color:  rgb(36, 137, 187);
    font-style: italic;
}

.tarjeta__texto{
    font-family: "roboto-regular";
    font-size: 20px;
    color: black;

}
.tarjetas__borde{
    padding: 2px;
}

/*desarrollando el articulo sobre los planes*/
.planes__titulo{
    font-family: "russo-regular";
    font-size: 30px;
    color: rgb(36, 137, 187);
}
.planes__lista li{
font-family: "roboto regular";
font-size: 20px;
list-style-type: none;
}
.planes__img{
    height: 500px;
    width: 500px;
}
/*desarrollando el footer*/
footer{
    background-color: rgb(255, 255, 255);
    padding: 40px;
}
.box__footer{
    max-width: 1800px;
    background-color:rgb(36, 137, 187) ;
    display: flex;
    justify-content: space-between;
    margin: auto;
    font-family: "roboto regular";
}
.colunm1__footer{
    max-width: 600px;
}

;
.colunm2__footer {
    max-width: 600px;
}

.row2__footer{
    display: flex;
    margin-top: 20px;
}
.row2__footer img{
    width: 65px;
    height: 66px;
    background-size: cover;
}
.texto__footer{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 20px;
}
.colunm3__footer{
    max-width: 600px;
}
.row3__footer img{
    width: 65px;
    height: 66px;
    background-size: cover;
}
.row3__footer{
    display: flex;

}
/*desarrollando las tarjetas de la pagina de auto*/
.tarjeta-autos__img{
    width: 400px;
    height: 500px;
    background-size: cover;
    border-radius: 5px;

}

/*trabajando en las flechas del baner*/
#flechas{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    
}


/*responsive header*/
@media screen and (max-width: 1350px){
    .encabezado__titulo{
        font-size: 45px;
        justify-content: center;
    }
    .encabezado__subtitulo{
        font-size: 18;
        justify-content: center;
    }
}
@media screen and (max-width: 750px){
    .encabezado__subtitulo{
        font-size: 30px;
        justify-content: center;
    }
    .encabezado__subtitulo{
        font-size: 15px;
        justify-content: center;
    }
}

/* responsive navbar*/
@media screen and (max-width: 1350px){
nav{
padding: 10px;
}
.navbar__link{
    font-size: 25px;
}
.navbar__link:hover{
    font-size: 25px;
}
}

@media screen and (max-width: 938px){
.navbar__link{
    font-size: 20px;
}
.navbar__link:hover{
    font-size: 20px;
}
}
@media screen and (max-width: 750px){
.navbar__link{
    display: none;
}
.dropdown{
    display: block;
}
}
/*responsive footer*/
@media screen and (max-width: 970px){
    .box__footer{
        flex-wrap: wrap;
    }
    .colunm1__footer,
    .colunm2__footer,
    .colunm3__footer{
        margin-top: 40px;
    }
}





